@font-face {
    font-family: Lunchtime Doubly So Regular;
    src: url("../font/lunchds.ttf");
}

#background {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-family: "Lunchtime Doubly So Regular";
    -fx-alignment: center;
}

.button {
    -fx-font-family: "Lunchtime Doubly So Regular";
    -fx-font-size: 30px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.button:hover {
    -fx-text-fill: red;
}

#inGameScoreLabel {
    -fx-font-size: 15px;
}