.label {
    -fx-font-family: "Lunchtime Doubly So Regular";
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: transparent;
    -fx-font-family: "Lunchtime Doubly So Regular";
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent red transparent;
}

.text-field:focused {
    -fx-text-fill: red;
    -fx-font-size: 15px;
}

#settingsLabel {
    -fx-font-size: 36px;
    -fx-padding: 0px 0px 25px 0px;
}

#everything {
    -fx-alignment: center;
}

#inputsAndLabels {
    -fx-alignment: center;
}

#labels {
    -fx-spacing: 20px;
}

#inputs {
    -fx-spacing: 10px;
}

#buttons {
    -fx-alignment: center;
}

#displayScore {
    -fx-padding: 10px 0px 0px 0px;
    -fx-alignment: center;
    -fx-spacing: 35px;
}

#scoreCheckBox .box {
    -fx-border-color: white;
    -fx-border-radius: 4px;
    -fx-background-color: transparent;
}

#scoreCheckBox:selected .mark {
    -fx-background-color: white;
}

#scoreCheckBox:selected .box {
    -fx-border-radius: none;
    -fx-border-color: none;
    -fx-background-color: red;
    -fx-background-radius: 4px;
}